<div class="ui container">
<section >
	<h2>Nutzer</h2>
	<table class="ui celled table">
		<thead>
			<tr>
				<th>id</th>
				<th>Nutzername</th>
				<th>Vorname</th>
				<th>Nachname</th>
				<th>email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>[[user.id]]</td>
				<td>[[user.username]]</td>
				<td>[[user.firstname]]</td>
				<td>[[user.lastname]]</td>
				<td>[[user.email]]</td>
			</tr>
		</tbody>
	</table>
</section>

<section>
	<h2>Kurse</h2>
	<table class="ui celled table">
		<thead>
			<tr>
				<th>id</th>
				<th>Kursname</th>
				<th>Beschreibung</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="course in courses">
				<td>[[course.id]]</td>
				<td>[[course.name]]</td>
				<td>[[course.description]]</td>
			</tr>
		</tbody>
	</table>
	<div class="ui input" ><input  type="text" ng-model="newCourseName" placeholder="Kursname"/></div>
	<button class="ui button" ng-click="createCourse()">Kurs erstellen</button>
</section>

<section>
	<h2>Gruppen</h2>
	<table class="ui celled table">
		<tr ng-repeat="group in groups">
			<td>[[group.id]]</td>
			<td>[[group.name]]</td>
		</tr>
	</table>
	<div class="ui input" ><input class="ui input" type="text" ng-model="newGroupName" placeholder="Gruppenname"/></div>
	<button class="ui button" ng-click="createGroup()">Gruppe erstellen</button>
</section>

<section>
	<h2>Rechte</h2>
</section>

<section>
	<h2>Projekte</h2>
</section>

<section>
	<h2>Mein Account</h2>
</section>

</div>
