<div class="ui middle aligned center aligned grid">
	<div class="column login-form">
		<form class="ui large form">
			<div class="field">
				<label for="username">Benutzername</label>
				<input type="text" name="username" ng-model="username" />
			</div>
			<div class="field">
				<label for="password">Passwort</label>
				<input type="password" name="password" ng-model="password" />
			</div>
			<button class="ui primary fluid button" ng-click="login()">Login</button>
			<p> Noch keinen Account? <a href="#/register"> Hier registrieren!</a></p>
		</form>
	</div>
</div>
